 # Day 1 â€“ Python Revision

In [ ]:
# ðŸ”¹ Topics to Revise Today:
# Section	Key Concepts
# 1. Variables & Data Types	int, float, str, bool, list, tuple, set, dict
# 2. Operators	Arithmetic, Assignment, Comparison, Logical, Membership
# 3. Conditional Statements	if, elif, else
# 4. Loops	for, while, break, continue, range()
# 5. Functions	def, parameters, return values, default arguments
# 6. String & List Methods	.split(), .join(), slicing, indexing

1. Variables & Data Types
 What is a Variable?

  A variable stores data in memory. Python is dynamically typed, so you donâ€™t need to declare data types.

In [ ]:
x = 10         # int
pi = 3.14      # float
name = "AI"    # str
status = True  # bool

In [ ]:
# Common Data Types:
# Type	Example	Description
# int	x = 5	Whole numbers
# float	pi = 3.14	Decimal numbers
# str	name = "Gaurav"	Text values (strings)
# bool	status = True	Boolean (True/False)
# list	nums = [1, 2, 3]	Ordered, mutable collection
# tuple	t = (1, 2, 3)	Ordered, immutable collection
# set	s = {1, 2, 3}	Unordered, no duplicates
# dict	d = {"a": 1, "b": 2}	Key-value pairs

# 2. Operators

Arithmetic Operators

In [ ]:
# a + b   # Addition
# a - b   # Subtraction
# a * b   # Multiplication
# a / b   # Division
# a // b  # Floor division
# a % b   # Modulus (remainder)
# a ** b  # Exponentiation

Assignment Operators

In [ ]:
x = 5
x += 3   # x = x + 3
x *= 2   # x = x * 2

Comparison Operators

In [ ]:
x == y  # Equal
x != y  # Not equal
x > y, x < y, x >= y, x <= y

Logical Operators

In [ ]:
x > 3 and x < 10
x > 3 or x < 2
not(x > 3)

False

Membership Operators

In [ ]:
3 in [1, 2, 3]       # True
"AI" not in "ML AI"  # False

#Conditional Statements

In [ ]:
x = 10
if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

Positive

Loops

In [ ]:
for i in range(5):
    print(i)  # 0 to 4

In [ ]:
x = 1
while x < 5:
    print(x)
    x += 1

break and continue

In [ ]:
for i in range(5):
    if i == 3:
        break     # Exit loop
    print(i)

for i in range(5):
    if i == 3:
        continue  # Skip 3
    print(i)

range(start, stop, step)

In [ ]:
range(1, 10, 2)  # 1, 3, 5, 7, 9

# Functions

In [ ]:
def greet(name):
    return f"Hello, {name}"

print(greet("Gaurav"))

Hello, Gaurav

Parameters and Defaults

In [ ]:
def power(a, b=2):  # default b=2
    return a ** b

print(power(3))      # 9
print(power(3, 3))   # 27

Return Values

In [ ]:
def add(x, y):
    return x + y

String & List Methods

In [ ]:
s = "gaurav"
s.upper()       # "GAURAV"
s.lower()       # "gaurav"
s[::-1]         # "varuag" (reverse)
s.split("a")    # ['g', 'ur', 'v']
"-".join(["A", "I"])  # "A-I"

'A-I'

In [ ]:
lst = [1, 2, 3]
lst.append(4)        # Add element
lst.pop()            # Remove last
lst[0]               # Access first element
lst[1:3]             # Slice [2, 3]

[2, 3]